<div>
  <br><br><a routerLink="/albuns">
    <ng-template #rotaalbum></ng-template>
  </a>
  <ng-template #naoencontrado>Esse album não existe!</ng-template>
  <ng-template #aguardando>Aguardando sua procura...</ng-template>
  <ng-template #buscando>Buscar por album "<b>{{textocapturado}}"?</b>

    <input type="button" value="Sim!">

  </ng-template>
  <h4>Digite o álbum que procura:
    <input type="text" (input)="this.textocapturado = $event.target.value" />
  </h4>

  <div *ngIf="this.textocapturado.length != 0; then buscando  else aguardando"></div>

  <ul>
    <li *ngFor="let albumselecionado of albuns"><b>{{albumselecionado.albumDo}}</b>
    <li *ngIf=" this.textocapturado != this.albumselecionado; then rotaalbum else naoencontrado">

    </li>
  </ul>

  <a routerLink="/albuns">
    <input type="button" value="Mostrar todos os albuns." /></a>
</div>
