<div>
  <br><br>
  <ng-template #rotaalbum>

  </ng-template>
  <ng-template #naoencontrado>Esse album não existe!</ng-template>
  <ng-template #aguardando>Aguardando sua procura...</ng-template>
  <ng-template #buscando>Buscar por album "<b>{{textocapturado}}"?</b>



  </ng-template>
  <h4>Digite o álbum que procura:
    <input type="text" (input)="this.textocapturado = $event.target.value" />
  </h4>

  <div *ngIf="this.textocapturado.length != 0; then buscando  else aguardando"></div>

  <ul *ngFor="let albumselecionado of albuns">

    <li *ngIf="this.textocapturado == albumselecionado.albumDo; ">
          <a routerLink="/albuns/&album={{this.albumselecionado.albumDo}}">
            <input type="button" value="Sim!" />
          </a>
    </li>
  </ul>
</div>
