<div>
  <br><br>
  <ng-template #aguardando>Aguardando sua procura...</ng-template>
  <ng-template #buscando>Buscar por album "<b>{{textocapturado}}"? <input type="button" value="Sim!" /> </b>
  </ng-template>
  <h4>Digite o álbum que procura:
    <input type="text" (input)="this.textocapturado = $event.target.value" />
  </h4>

  <div *ngIf="this.textocapturado.length != 0; then buscando  else aguardando"></div>



  <ul>
    <li *ngFor="let pessoa of pessoas">
      <!-- <div *ngIf="this.textocapturado = pessoa.nome; then {{pessoa.nome}} else buscando"></div> -->
      <!-- {{pessoa.nome}} ({{pessoa.papel}}) -->
    </li>
  </ul>
  <div>
    <input type="button" value="Mostrar todos os albuns." />
  </div>
