<div style="text-align: center;">
  <h1>Álbuns</h1>

  <img src="assets/albuns01.jpg" alt="albuns01.jpg">

  <h1>
    Segue a baixo os albuns disponíveis:
  </h1>
</div>

<div>

<ul>
  <li *ngFor="let album of albuns" (click)="selecionar(album)">

    <p [class.selecionado]="selecionado == album">{{album.albumDo}}</p>
    <p *ngIf="selecionado == album">{{album.papel}}</p>
    <button (click) ="excluir(album)">Excluir</button>
    <button (click) ="editar(album)">Editar</button>

  </li>
</ul>
<hr/>
</div>
<h1>Insersão</h1>
<form [formGroup] = "cadastro">
  <label for="nome">Nome <input type="text" id="nome" name="nome" [(ngModel)]="nome" formControlName="nome" /></label><br/>

  <label for="papel">Papel </label>
  <input type="text" id="papel" name="papel" [(ngModel)]="papel" formControlName="papel" /><div><br/>
  <button type="submit" (click)="salvar()" [disabled]="!cadastro.valid">Inserir</button>
  <button type="reset" (click)="cancelar()" >Cancelar</button>
  </div>
</form>
